.canvas {
  position: relative;

  background: green;
}




.car__wheel {
  animation-name: a--move-wheel;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes a--move-wheel {
  0% {    transform: translateY(0); }
  50% {   transform: translateY(-5px); }
  100% {  transform: translateY(0); }
}



.car__body {
  animation-name: a--move-body;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes a--move-body {
  0% {    transform: translateY(0); }
  50% {   transform: translateY(-5px); }
  100% {  transform: translateY(0); }
}





.car-outlet {
//display: none;
  position: absolute;
  bottom: 10%;
  left: 30%;
  z-index: 2;

  //transform: rotateY(180deg);
}



.car {
  &__body {
    position: relative;
    padding: 1rem;

    width: 400px;
    height: 200px;

    background: $car;
    border: 2px solid darken($car, 10%);

    border-radius: 11px;
    border-top-left-radius: 111px;
  }

  &__window {
    &--front {
      display: inline-block;

      width: 8rem;
      height: 6rem;
      margin-right: 1rem;

      background: $white url('https://m.actve.net/evropa2/2018/09/foto-web-detail-440x355px-chuckn.png') 50% 50% no-repeat;
      background-size: contain;

      border-radius: 11px;
      border-top-left-radius: 111px;
    }

    &--back {
      display: inline-block;

      width: 6rem;
      height: 6rem;
      &:not(:last-child) { margin-right: 1rem; }

      background: $white;
      border-radius: 11px;

      opacity: .7;
    }
  }

  &__chassis {
    position: relative;
    top: -3rem;

    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}



.car__wheel-outer {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;

    width: 10px;
    height: 10px;
    background: $white;

    border-radius: 50%;
  }

  //&--A {}
  //&--B {}
}





//
// Color pallete
//
